.top-nav {
    max-width: 100%;
    background: #412849;
    list-style: none;
}

.top-nav li {
    text-align: center;
    padding: .5%;
}

.top-nav li a {
    color: #7247c5;
    font-size: 24px;
    font-weight: bold;
}

a:hover {
    text-decoration: none;
    cursor: auto;
    cursor: pointer;
}